
.logoContainer {
  /* width: 1725.6px;
  height: 297.52px; */

  position: relative;
  animation: fillLogo 5s forwards;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@keyframes fillLogo {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
