.nav {
    color: white;
    background: rgb(7, 7, 82);
    background: linear-gradient(
      19deg,
      rgba(7, 7, 82, 1) 2%,
      rgba(1, 1, 13, 1) 46%
    );
  }

  @media screen and (max-width: 600px) {
    .nav {
      height: 100%;
      background: black
    }

  }

  @media screen and (max-width: 1448px){
    .nav {
      height: 100%;
      background: black
    }
  }